{% extends "index.html" %}

{% block title %}Create User{% endblock %}

{% block content %}
    <div class="container col-8 text-center">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Add a New User</h1>
            <a href="/users/">Home</a>
        </div>
        <div class="container mt-5">
            <form class="text-start" action="/users/form/" method="post" name="new_user">
                <div class="mb-3">
                    <label class="form-label fw-bold" for="name">Name:</label>
                    <input class="form-control" type="text" id="name" name="name">
                    <label class="form-label fw-bold" for="email">Email:</label>
                    <input class="form-control" type="text" id="email" name="email">
                </div>
        
                <button class="btn btn-primary" type="submit">Create</button>
        
            </form>
        </div>

    </div>
    
{% endblock %}