{% extends "base.html" %}

{% block title %}Book Show{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <h1>Title: {{book.title}}</h1>
                <h4><u>Favourited by:</u></h4>
                    {% for author in book.authors_who_favourited %}
                        <p>{{author.name}}</p>
                    {% endfor %}
            </div>
            <div class="col-md-6">
                <div class="mb-5">
                    <h2>Add Book's Favourite</h2>
                </div>
                <form action="{{url_for('add_favourite_author', id = book.id)}}" method="post">
                    <div class="mb-3">
                        <label class="form-check-label" for="author">Author:</label>
                        <select name="author_id" id="author" class="form-select">
                            {% for author in authors %}
                                <option value="{{author.id}}">{{ author.name|safe }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit" method="post">Add</button>
                </form>
            </div>
        </div>
        <div class="container mt-3">
            <a href="{{url_for('home')}}">Home</a>
        </div>
    </div>
{% endblock %}