{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %} 

{% block styles %}
{% endblock %}

{% block menu %}
{% include 'menu.html' %}
{% endblock %}

{% block content %}
    <h1>Welcome {{session.user.first_name}} {{session.user.last_name}}</h1>

    <form action="/process_thought" method="post">
        <div class="row g-3 align-items-center">
            <div class="col-9">
                <input type="text" id="thought" name="thought" class="form-control" placeholder="Add your thought here">
            </div>
            <div class="col-3">
                <button class="btn btn-primary" type="submit">Add Thought</button>
            </div>
        </div>
    </form>
    <hr>

    {% for thought in thoughts %}
    <div class="row g-3 mt-3">
        <div class="col-1">
            <a href="/user/{{thought.user_id}}">{{thought.user.first_name}} says:</a>
        </div>
        <div class="col-8">
            <div class="border">
                {{thought}}
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-2 mt-3">
                    {% if thought.has_like %}
                    <a href="/remove_like/{{thought.id}}" class="btn btn-info">Un-like</a>
                    {% else %}
                    <a href="/add_like/{{thought.id}}" class="btn btn-primary">Like</a>
                    {% endif %}
                </div>
                <div class="col-1 mt-3">
                    <p>{{thought.likes}} likes</p>
                </div>
            </div>
        </div>
        <div class="col-1">
            {% if thought.user_id == session.user.id %}
            <a href="/thought/{{thought.id}}/delete">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

{% endblock %}