{% extends "index.html" %}

{% block content %}

<div class="container border border-3 border-grey mt-5" style="background-color: #33393e;">
    <h1 style="color: gold; font-size: 5rem;""  class="h2 mt-2">Dojo Survey</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-white">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/form/" method="post">
            <div class="mb-3 mt-3" >
                <label for="name" class="form-label" style="color: white">Name:</label>
                <br>
                <input type="text" name="name" id="name" placeholder = "Insert name">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label" style="color: white">Dojo Location:</label>
                <select class="form-select" class="form-select" name="location" id="location">
                    <option selected> --Select A Location-- </option>
                    <option value="Chicago">Chicago</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Online">Online</option>
                    <option value="Burbank">Burbank</option>
                    <option value="Belleveu">Belleveu</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="language" class="form-label" style="color: white">Favorite Language:</label>
                <select class="form-select" class="form-select" name="language" id="language">
                    <option selected> --Select A Language-- </option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label" style="color: white">Comment:</label>
                <br>
                <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}